allow from all
Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "POST, GET, PUT, OPTIONS, DELETE"
Header set Access-Control-Allow-Headers "authorization, content-type"
RewriteEngine on
RewriteRule ^users/tokens/?$                               tokens.php [L]
RewriteRule ^users/?([0-9]*)/?$                            users.php?id=$1 [L]
RewriteRule ^accounts/([0-9]+)/?$                          accounts.php?id=$1 [L]
RewriteRule ^accounts/?$                                   accounts.php [L]
RewriteRule ^accounts/([0-9]+)/transactions/?$             transactions.php?aid=$1 [L]
RewriteRule ^accounts/([0-9]+)/transactions/([0-9]+)/?$    transactions.php?aid=$1&id=$2 [L]
RewriteRule ^categories/?$                                 categories.php [L]
RewriteRule ^categories/?([0-9]*)/?$                       categories.php?id=$1 [L]
RewriteRule ^dataset/?$                                    dataset.php [L]
RewriteRule ^accounts/([0-9]+)/dataset/?$                  dataset.php?aid=$1 [L,QSA]
RewriteRule ^maps/?$                                       maps.php [L]
RewriteRule ^maps/?([A-Za-z0-9]*)/?$                       maps.php?code=$1 [L]
