Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "POST, GET, PUT, OPTIONS, DELETE"
Header set Access-Control-Allow-Headers "authorization, content-type"
RewriteEngine on
RewriteRule ^users/tokens/?$                               tokens.php [L]
RewriteRule ^accounts/([0-9]+)/?$                          accounts.php?id=$1 [L]
RewriteRule ^accounts/?$                                   accounts.php [L]
