allow from all
Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "POST, GET, PUT, OPTIONS, DELETE"
Header set Access-Control-Allow-Headers "authorization, content-type"
RewriteEngine on
RewriteRule ^users/tokens/?$                                    tokens.php [L]
RewriteRule ^users/([0-9]+)/tokens/?$                           tokens.php?user=$1 [L]
RewriteRule ^users/?([0-9]*)/?$                                 users.php?id=$1 [L]
RewriteRule ^transactions/([0-9]+)/?$                           transactions.php?id=$1 [L]
RewriteRule ^transactions/?$                                    transactions.php [L]
RewriteRule ^accounts/([0-9]+)/?$                               accounts.php?id=$1 [L]
RewriteRule ^accounts/?$                                        accounts.php [L]
RewriteRule ^accounts/([0-9]+)/icons/?$                         accountIcons.php?aid=$1 [L]
RewriteRule ^accounts/([0-9]+)/transactions/?$                  transactions.php?aid=$1 [L,QSA]
RewriteRule ^accounts/([0-9]+)/transactions/([0-9]+)/?$         transactions.php?aid=$1&id=$2 [L]
RewriteRule ^accounts/([0-9]+)/transactions/history/?$          graph.php?request=history&aid=$1 [L,QSA]
RewriteRule ^categories/?$                                      categories.php [L]
RewriteRule ^categories/?([0-9]*)/?$                            categories.php?id=$1 [L]
RewriteRule ^dataset/?$                                         dataset.php [L]
RewriteRule ^accounts/([0-9]+)/dataset/?$                       dataset.php?aid=$1 [L,QSA]
RewriteRule ^maps/?$                                            maps.php [L]
RewriteRule ^maps/?([A-Za-z0-9]*)/?$                            maps.php?code=$1 [L]
RewriteRule ^patterns/?([0-9]*)/?$                              patterns.php?id=$1 [L]
RewriteRule ^transactions/patterns/?$                           transactionsPatterns.php [L]
RewriteRule ^transactions/distribution/([a-z]+)/([a-z]+)/?$     graph.php?request=distribution&type=$1&key=$2 [L,QSA]
RewriteRule ^transactions/history/?$                            graph.php?request=history [L,QSA]
RewriteRule ^setup/steps/([A-Za-z-]+)/fields/?                  steps.php?code=$1 [L]
RewriteRule ^setup/steps/?([A-Za-z-]*)/?$                       steps.php?code=$1 [L]
RewriteRule ^setup/versions/latest/?$                           updates.php [L]
