@charset "utf-8";

@import "/node_modules/bulma/sass/utilities/initial-variables";

$primary: #42b983;
$message-body-padding: 0.75em 1.25em;
$breadcrumb-item-color: $primary;
.navbar-burger span {
  color: $white-ter;
}
$link: $primary;
$navbar-item-hover-color: $primary;
.navbar .router-link-exact-active {
  color: $grey-light !important
}
.is-max-width-form {
  max-width: 800px;
  margin: auto;
}
.is-max-width-form .field-body {
  max-width: 500px;
}

$card-header-background-color: $white-bis;
$card-shadow: 0 0 3px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1);
$card-header-shadow: 0;
$body-background-color: $white-ter;
$input-shadow: none;

@import "/node_modules/bulma/bulma.sass";

.hero .tabs ul {
  border-bottom-color: $tabs-border-bottom-color;
  border-bottom-style: $tabs-border-bottom-style;
  border-bottom-width: $tabs-border-bottom-width;
}

.hero-body {
  @include mobile {
    padding: 0;
  }
}
.box {
  @include mobile {
    border-radius: unset;
  }
}
.no-padding-parent-mobile {
  @include mobile {
    margin: 0;
    padding: 0;
  }
}
.no-padding-parent-mobile:last-child {
  @include mobile {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
.no-padding-mobile {
  @include mobile {
    border-radius: unset;
    padding: 0;
  }
}

.has-half-margin-mobile {
  @include mobile {
    margin: 0 -0.75rem;
  }
}

.column:empty {
  padding: 0;
}

@import "/node_modules/bulma/bulma";
@import '/node_modules/@oruga-ui/theme-bulma/dist/scss/bulma';

td.icon-account, .icon-account {
  padding: 0 0 0 12px;
  vertical-align: middle;
  width: 36px;
  img {
    vertical-align: middle;
  }
}

.transaction-account-icon {
  min-width: 24px;
}

.icon-account-admin {
  border-width: 1px 0 1px 1px;
  border-radius: 4px 0 0 4px;
  height: 40px;
  border-color: rgb(219, 219, 219);
  border-style: solid;
}

.has-no-wrap {
  white-space: nowrap;
}

.transaction-label {
  display: inline-block;
  overflow-x: clip;
  text-overflow: ellipsis;
  max-width: 15rem;
  @include desktop {
    max-width: 30rem;
  }
  @include mobile {
    max-width: 10rem;
  }
}

.chart-header {
  display: flex;
  justify-content: space-between;
}

.datepicker {
  max-width: 12em;
}

.fa-mr {
  margin-right: 0.4em;
}

.dispatch-slider {
  width: 75%;
}
.dispatch-slider .input {
  width: 4.5rem !important;
}

.is-center {
  margin: auto;
}

th.is-required::after,
.is-required .label::after {
  content: " *";
  color: $danger;
}

.toast-notification {
  box-shadow: 0 1px 4px rgb(0 0 0 / 12%), 0 0 6px rgb(0 0 0 / 4%);
  border-radius: 2em;
  padding: 0.75em 1.5em;
  pointer-events: auto;
}

// @TODO: remove this hack (cf. https://github.com/oruga-ui/theme-bulma/issues/54)
.datepicker .pagination-list {
  flex-wrap: nowrap;
  .select {
    margin-left: 0;
    margin-right: 0;
  }
}