# Exclude all files
*

# Include specific files/folders
!docker/php.ini
!docker/apache.conf
!docker/vhost-001-money.conf
!docker/docker-entrypoint.sh
!money-front-vue
!server
!.git/

# Exclude specific files/folders
.git/config
server/configuration/local.ini
money-front-vue/dist
money-front-vue/node_modules
**/.php_cs.cache
